<% if object.screnshot.attached? %>
  <strong>ScreenShot of Bug</strong>
  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#display">
    <%= image_tag object.screnshot, class: 'rounded-circle', width: '70px', height: '70px' %>
  </button>
<% end %>
<div class="modal fade" id="display" tabindex="-1" aria-labelledby="displayLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="displayLabel">Display Image</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if object.screnshot.attached? %>
          <%= image_tag object.screnshot, width: '460px' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
