<div class='modal-body'>
  <p>
    <strong>Name:</strong>
    <%= project.title %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= project.description%>
  </p>
  <p>
    <strong>Manager Name:</strong>
    <%= current_user.name%>
    </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary close-modal" data-bs-dismiss="modal">Close</button>
</div>
