<h1>Projects</h1>
<%= link_to 'Create', new_manager_project_path, class: 'btn btn-xs btn-primary', data: { bs_toggle: 'modal', bs_target: '#newuserModal', remote: true } %>
<hr>
<table class='table table-bordered'>
  <thead class='table-dark'>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody id='usersTable' >
    <% @projects.find_each do |project| %>
      <%= render 'user_row', project: project %>
    <% end %>
  </tbody>
</table>

<%= paginate @projects %>

<div class="modal fade" id="newuserModal" id="myModal" role="dialog" style="overflow:hidden;" aria-labelledby="newuserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newuserModalLabel">Create Project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id='newuserform'>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edituserModal" role="dialog" style="overflow:hidden;" aria-labelledby="edituserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edituserModalLabel">Update Project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id='edituserform'>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="showuserModal" role="dialog" style="overflow:hidden;" aria-labelledby="showuserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showuserModalLabel">Project Detail</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id='showuserDetail'>

      </div>
    </div>
  </div>
</div>
