<% if current_user.projects.any? %>
  <h1>Project Assigned To <%= current_user.name %> </h1>
  <table class='table table-bordered table-striped'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <% current_user.projects.find_each do |project| %>
        <tr>
          <td><%= project.title %></td>
          <td><%= project.description %></td>
          <td><%= link_to 'Show Project', qa_project_path(project), class: 'btn btn-success' %></td>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No projects assigned yet.</p>
<% end %>
